/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: o;
}

html {
    color: white;
}

/* styling */

.navbar {
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #003e32, #04724b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.amazonLogoImage {
    margin-left: 0;
    width: 113px;
    height: 50px;
    background-image: url("amazonLogo.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 1px;
    left: -10px;
    border: 1px solid transparent;
    /*  this helps to hover without change in position*/
}

.amazonLogoImage:hover {
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

/* location start */
.location {
    display: flex;
    align-items: center;
    width: 86px;
    height: 50px;
    border: 1px transparent solid;
}

.location:hover {
    cursor: pointer;
    border: 1px solid white
}

.location i {
    position: relative;
    top: 4px;
    left: 5px
}

.locationText {
    position: relative;
    left: 10px;
}

.deliverTo {
    font-size: 13px;
    color: rgb(233, 233, 233);
}

/* location end */


/* searchBar start*/
.searchBar {
    width: 958px;
    height: 40px;
    background-color: azure;
    border-radius: 5px;
    display:flex ;
    align-items: center;
}

.searchBar:hover {
    cursor: pointer;
    border: 1px transparent white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}


.selectBox {
    width: 52px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px transparent solid;
    background-color: #e6e6e6;
    color: rgb(62, 62, 62);
    text-align: center;
}

.selectBox:hover {
    cursor: pointer;
    border: 1px transparent white;
    color: rgb(0, 0, 0);
}

.inputBox {
     height: 100%;
     width: 855px;
     
}

/* searchBar end*/
.lang {
    width: 46px;
    height: 40px;
    background-color: azure;
}

.signIn {
    width: 119px;
    height: 40px;
    background-color: azure;
}

.returnOrder {
    width: 77px;
    height: 40px;
    background-color: azure;
}

.cart {
    width: 84px;
    height: 45px;
    background-color: azure;
}
