/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: white;
}

/* styling */

.navbar {
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #003e32, #04724b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.amazonLogoImage {
    width: 113px;
    height: 50px;
    background-image: url("amazonLogo.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 1px;
    border: 1px solid transparent;
    /*  this helps to hover without change in position*/
}

.amazonLogoImage:hover {

    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.location {
    width: 86px;
    height: 50px;
    border: 1px transparent solid;
}

.location:hover {
    border: 1px solid white;
}

#Text-DeliverTo {}

#Text-India {}

.searchBar {
    width: 956px;
    height: 50px;
    background-color: azure;

}

.lang {
    width: 46px;
    height: 50px;
    background-color: azure;
}

.signIn {
    width: 119px;
    height: 50px;
    background-color: azure;
}

.returnOrder {
    width: 77px;
    height: 50px;
    background-color: azure;
}

.cart {
    width: 84px;
    height: 50px;
    background-color: azure;
}    
