/* reset */
* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

.navbar {
    background-color: #0f1111;
    height: 60px;
    display: flex;
    align-items: center;
    display: flexbox;
    flex-direction: row;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    margin-left: 10px;
}

.logo:hover {
    border: 1px solid white;
}

/* box 2 */
.nav-address {
    border: 1px solid transparent;
    margin-left: 25px;
    height: 50px;
    display: flex;
    align-items: center;

}

.nav-address:hover {
    border: 1px solid white;
}

.locationlogo {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 12px;
    margin-right: 2px;
}

.text1 {
    font-size: 0.8rem;
    color: aliceblue;
    font-size: 12px;
    font-weight: 200;
    color: rgb(189, 187, 187);
    margin-top: 1px;
}

.text2 {
    font-weight: 800;
    color: white;
    padding: 0%;
}

/* box3 */

.searchbar {
    display: flex;
    align-items: center;
    height: 60px;
    border: 4px solid orange;
    
}

.searchbar-select {
    margin-left: 5px;
    width: 60px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 28px;
    background-color: rgb(221, 221, 221);

}

.searchbar-input {
    width: 1000px;
    height: 40px;
}

.searchicon {
    font-size: 30px;
    color: rgb(0, 0, 0);
    display: inline;
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 4px;
}