/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: o;
}

html {
    color: white;
}

/* styling */

.navbar {
    height: 60px;
    width: 100%;
    background: linear-gradient(to right, #003e32, #04724b);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.amazonLogoImage {
    margin-left: 0;
    width: 113px;
    height: 50px;
    background-image: url("amazonLogo.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 1px;
    left: -10px;
    border: 1px solid transparent;
    /*  this helps to hover without change in position*/
}

.amazonLogoImage:hover {
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

/* location start */
.location {
    display: flex;
    align-items: center;
    width: 86px;
    height: 50px;
    border: 1px transparent solid;
}

.location:hover {
    cursor: pointer;
    border: 1px solid white
}

.location i {
    position: relative;
    top: 4px;
    left: 5px
}

.locationText {
    position: relative;
    left: 10px;
}

.deliverTo {
    font-size: 13px;
    color: rgb(233, 233, 233);
}

/* location end */


/* searchBar start*/
.searchBar {
    width: 938px;
    height: 40px;
    background-color: azure;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.searchBar:hover {
    cursor: pointer;
    border: 1px transparent white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.selectBox {
    width: 52px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px transparent solid;
    background-color: #e6e6e6;
    color: rgb(125, 125, 125);
}

.selectBox:hover {
    cursor: pointer;
    border: 1px transparent white;
    color: rgb(0, 0, 0);
}

.inputBox {
    height: 100%;
    width: 855px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.inputBox:hover {
    border: none;
    outline: none;
}

.SearchIcon {
    width: 45px;
    height: 40px;
    background-color: #a9176f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SearchIcon i {
    font-size: 21px;

}

/* searchBar end*/
/* start of language */
.lang {
    width: 46px;
    height: 40px;
    border: 1px transparent solid;
    outline: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.lang i {
    font-size: 15px;
    color: rgb(255, 108, 108);
}

.lang:hover {
    border: 1px solid white;
    outline: none;
    cursor: pointer;
}

/* end of language */
/* start of signIn */
.signIn {
    width: 119px;
    height: 45px;
    border: 1px transparent solid;
}

.signIn:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* end of signIn */
/* start of returnOrder */
.returnOrder {
    width: 87px;
    height: 45px;
    border: 1px transparent solid;
   padding-left:10px ;
}

.returnOrder:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* End of returnOrder */
/* Startofcart */
.cart {
    width: 94px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent solid;
}

.cart:hover {
    border: 1px solid white;
    cursor: pointer;
}

.cart i {
    color: white;
    font-size: 30px;
}
